* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    Sagoe UI,
    sans-serif;
  background-color: slategray;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

header {
  background-color: #2c3e50;
  color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 5px solid white;
  border-radius: 15px;
  margin: 20px auto;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px;
  background-color: #eee;
}

li {
  flex: 1;
  text-align: center;
}
